body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/020/639/121/non_2x/dark-purple-geometric-seamless-pattern-background-illustration-eps10-vector.jpg");
    -webkit-text-fill-color: rgb(228, 170, 255);
  }