body {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/001/887/350/small/dark-green-red-gradient-blur-pattern-vector.jpg");
    background-size: 1920px;
    -webkit-text-fill-color: lightgreen;
  }