body {
    background-image: url("https://s3.pixers.pics/pixers/160/FO/16/72/47/61/3/160_FO167247613_f26c07a8847246e96fd1856dc3843630.jpg");
    background-size: 300px;
    -webkit-text-fill-color: darkblue;
  }